a{
color: inherit;
text-decoration: none;
display:flex;
width: calc(50% - 22px);
align-items: center;
    .cardContainer {
    border: 1px solid #333;
    display: flex;
    margin: 5px;
        .imgContainer {
        width: 30%;
            img {
            width: 100%;
            }
        }
    }
}

